body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}
.mainframe {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 5px;
}
.infoframe {
    margin: 10px;
    background-color: rgb(51, 51, 51);
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

#events {
    flex-grow: 1;
    list-style: none;
    margin: 10px;
    padding: 0px;
}
li {
    margin: 10px;
    padding: 20px;
    border-color: rgb(99, 99, 99);
    background-color: rgb(36, 36, 36);
    color: white;
    border-radius: 5px;
    font-size: large;
}